<h1 class='well'>Welcome to the Task Manager</h1>

<ul class='list-group'>
  <li class="list-group-item list-group-item-success"><a class="btn btn-success" href="/tasks">Task Index</a></li>
  <li class="list-group-item list-group-item-info"><a class="btn btn-info" href="/tasks/new">New Task</a></li>
</ul>
