<form class="well" action="/tasks" method="post">
  <div class="form-group">
    <p>Enter a new task:</p>
    <input class ="form-control" type='text' name='task[title]'/><br/>
    <p>Task description:</p>
    <textarea class="form-control" name='task[description]'></textarea><br/>
    <input class="btn btn-primary" type='submit'/>
  </div>
</form>
